 /* this is the header    */
.logo {
    float: left;
    stroke: #000;
    stroke-width: 3px;
    fill: #d23;
    width: 85px;
    height: 85px;
}

.header_title {
    float: right;
}

div hr {
    background-color: #2d3c49;
    height: 3px;
    width: 100%;
    float: right;
}

/* this is the body */
body {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 18px;
    line-height: 1.5em;
    color: #333;
    background-color: #ccc; 
}

.container {
    height: 900px;
    padding-top: 15px;
}

/* this aligns all my text to the center */
.center-align {
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

/* this is the main content of the page */
.content {
    height: 400px;
}

.side {
    height: 133.333px;
}

.html-img {
    height: 400px;
    max-width: 100%
}

/* this is the footer, the featured work section */
.work-img {
    height: 200px;
    max-width: 100%;
}

.work-name {
    height: 50px;
    font-size: 25px;
    padding-top: 20px;
    font-weight: bold;
}

.work-link {
    font-size: 14px;
    font-weight: bold;
}

/* set a fixed height to the filler column I had to the left of the featured work section */
.work-side { 
    height: 300px;
}

.fw-title {
    padding: 5px 0;
    font-weight: bold;
}

@media screen and (min-width: 425px) and (max-width: 992px) {
    .work-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        padding-top: 10px;
        height: 250px;
    }
    .fw-title {
        padding-top: 20px;
    }
    .html-img {
        width; 700px;
        max-height: 100%
    }
    .work-name {
        padding-top: 16px;
    }
    .work-link {
        padding-bottom: 26px;
    }
}

@media screen and (max-width: 424px) {
    .html-img {
        max-width: 100%;
        max-height: 100%;
    }
    .work-name {
        font-size: 16px;
    }
    .work-img {
        width: 400px;
        height 300px;
    }
}
